.megamenu{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: #fff;
    opacity: 0;
    z-index: 9;
    top:-100vh;
    transform: translateY(-100vh);
    transition: transform ease-in 300ms;
    overflow-x: hidden;

    .container{
        height: 90vh;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        
        .col-g{
            width: 50%;

            ul{
                li{
                    list-style: none;
                    text-transform: uppercase;
                    font-size: 3em;
                    font-weight: 400;
                    overflow: hidden;

                    a{
                        color:$primary-color;
                        text-decoration: none;
                        line-height: 1.5em;

                        &:hover{
                            color:$secondary-color;
                            font-weight: 600;
                        }
                    }
                }

                .sub-menu{
                    transform: translateX(-200px);
                    height: 0;
                    transform-origin: left;
                    font-size: .5rem;
                    transition: height ease-in 300ms;
                    transition: transform ease-in 500ms;
                }

                .active{
                    transform: translateX(50px);
                    height: 220px;
                }
            }
        }

        .col-d{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            a{ 
                color:$secondary-color;
                img{
                    max-width: 20px;
                }

            }

            .tel_Mmenu{
                color:$primary-color;
                text-decoration: none;
            }

            .line_rs{
                margin-top: 40px;

                a{
                    border: 1px solid #ccc;
                    content: '\f39e';
                    font-family: 'Font Awesome';
                    border-radius: 15px;
                    aspect-ratio: 1;
                    height: 30px;
                    display: inline-block;
                    text-align: center;
                    line-height: 2.4em;
                    overflow: hidden;
                    transition: all ease-in-out 300ms;

                    img{
                        aspect-ratio: 1;
                        filter: brightness(0);
                    }

                    &:hover{
                        background-color: $primary-color;
                        

                        img{
                            filter: brightness(1);
                        }
                    }
                }
                
            }

            a + a{
                margin-left:30px;
            }
        }
    }
}

.is_open{
   transform:translateY(0);
   opacity: 1;
   top:0;
}

.is_fixed{
    position:fixed!important;
}