@media screen and (max-width:640px) {
    // Header
body{

    h1,
    h2,
    h3{
        font-size: 1.8em!important;
    }

    p{
        font-size: .9em!important;
        line-height: 2em!important;
    }
    .container{
        width: 80vw!important;
    }

    #megamenu{
        .container{
            flex-direction: column;
            align-items: flex-start;
            padding-top: 25vh;
            height: 75vh;

            
            .col-g{
                width: 100%;
                li{
                    font-size: 1.5em;
                }
            }
        }
    }

    #header{
        padding: 4vh 0!important;

        .container{
            .logo{
                max-width: 150px!important;
            }
            
            #open_menu{
                width:auto;

                .labelToggle,
                .active{
                    display: none!important;
                }

                svg{
                    margin-left: 10px;
                    width: 40px;
                    padding-left: 10px;
                }
            }
        }
    }

    #about-lef{
        .title_content{
            h1,
            h2{
                font-size: 1.5em!important;
            }
        }

        .col_intro{
            width: 100%!important;
        }
    }

    #hero-section{
        .divider{
            top: calc(100vh - 170px);
        }

        .swiper-slide{
            padding-top: 35vh;
            height: 50vh;
            padding-bottom: 15vh;
        }

        .swiper-pagination{
            width: 90vw;
        }
    }

    #about-us{
        padding-top: 5vh;

        .divider-top{
            top:-10vh;
        }

        .container{
            display: flex;
            flex-direction: column;
    
            .col-g{
                width: 100%;
            }

            .col-d{
                width: 100%;
                padding-top: 5vh;
            }
        }
        
    }

    #col_services{
        width: 100%!important;
    }

    // About Us

    .container .gallery{
        grid-template-columns: repeat(3, 1fr)!important;
        column-gap: 30px;
        row-gap: 30px;

        img{
            max-width: 70px;
        }
    }

    // References
    #page-reference{

        .section-galerie{

            .section_filter{
                margin: 30px auto;
                gap: 30px;
                width: 81vw;
                flex-wrap: wrap;
            }
    
            .grid-chantier{
                grid-template-columns: repeat(1, 1fr);
            }

        }

        #section-presa{
            .col_intro{
                margin: 50px auto;
                width: 100%;
            }
        }
    }
        

    //Contact-us

    #contact-us{
        .container{
            p{
                max-width: 100%;
            }
        }
    }

    //footer

    footer{
        .container{
            .footer-top{
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: space-between;

                .logo-footer{
                    width: 100%;
                    text-align: center;
    
                    img{
                        width: 40%;
                        margin-bottom: 30px;
                    }
                }

                .menu_footer{
                    width: calc(25% - 1px);
                    padding: 0px 10% 0px 0px;
                }

                .col-contact{
                    width: calc(50% - 1px);
                    padding: 0px 0px 0px 15%;
                }

            }

            .footer-bottom{
                width: 100%;
            }

            
        
        }

        .disclaimer{
            .container{
                p{
                    font-size: .6em!important;
                }
            }
        }

    }
}
    
}