/* Mixins */
@import 'colors','megamenu','footer','animate';


/* Start Styling */

*{
    margin:0;
    padding:0;
    font-family: 'Montserrat',sans-serif!important;

}

.cta{
  text-decoration: none;
  color:$primary-color;
  border: 1px solid;
  padding: 20px 30px;
  font-family: 'Montserrat',sans-serif!important;
  text-transform: uppercase;
  letter-spacing: 3px;
  display: block;
  font-size: .6em;
  font-weight: 400;
  width: 150px;
  margin-top: 50px;

  &::before{
    content:'→';
    color:$primary-color;
    margin-right: 20px;
  }
}

.divider{
  width: 3px;
  background-color: #dfdfdf;
  border-radius: 5px;
  position: relative;
  bottom: -28vh;
  left: calc(50vw - 3px);
  height: 20px;
}

.divider-top{
  position: relative;
  top:-14vh;
  background-color: $secondary-color;
}

body{
    p{
      font-family: 'Montserrat',sans-serif!important;
      font-weight: 200;
    }

    h2,
    h3{
      font-family: 'Montserrat',sans-serif;
    }

    .container,
    .content{
      width: 70vw;
      max-width: 1040px;
      margin:auto;
    }

    section{
      height:55vh;
      padding: 15vh 0 30vh 0;
    }

    #header{
      height: 150px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      a{
        width: 250px;

        .logo{
          max-width: 250px;
        }
      }

      #open_menu{
        display: flex;
        align-items: center;

        img{
          height: 30px;
          aspect-ratio: 1;
          padding-left: 20px;
          border-left: 1px solid $primary-color;
          margin-left: 20px;
        }
      }
    }

    #hero-section{
      width: 100vw;
      font-family: 'Montserrat',sans-serif;
      padding-top: 20vh;
      padding-bottom: 5vh;


        h1{
          color:$primary-color;
          font-weight: 200;
          font-size: 2.5em;
          text-transform: uppercase;
  
            strong{
              font-weight: 700;
            }
        }
  
        p{
          color:$secondary-color;
          font-size: .7em;
          text-transform: uppercase;
          font-weight: 400;
          letter-spacing: 1px;
          width: 33vw;
        }
      
        .swiper-pagination{
          position: absolute;
          top:-10vh;
          right: 0!important;
          gap: 10px;
          width: 70vw;
          max-width: 1040px;
          margin:auto;
          height: 50px !important;
          display: flex !important;
          align-items: flex-end;
          align-content: flex-end;
          justify-content: center;
          flex-direction: column;
        }
        
        .swiper-pagination-bullet {
          padding: 0px 5px;
          border-radius: 0;
          width: 20px;
          height: 2px;
          text-align: center;
          font-size: 12px;
          color: $primary-color;
          opacity: 1;
          background: $primary-color;
        }
        .swiper-pagination-bullet-active {
          color:#fff;
          background: $secondary-color;
          width: 60px;
        }
    }

    #about-us{
      padding-top: 15vh;

      .container{
        display:flex;

        .col-g{
          width:30%;

          h2{
            color:$primary-color;
            font-weight: 400;
            font-size: 1.5em;
          }

          h3{
            font-weight: 400;
            color:$secondary-color;
            font-size: 1.5em;
          }

        }

        .col-d{
          padding-top:20vh;
          width:70%;
          font-size: .9em;

          p{
            margin-bottom: 20px;
            color:$primary-color;
            line-height: 2em;
            text-align: justify;
          }
        }
      }

      .divider{
        bottom: -25vh;
      }
    }

    #partenaires{
      background-color: #f7f7f7;

      .intro{
        text-transform: uppercase;
        letter-spacing: 10px;
        
        p{
          font-size: 1.2em;
          color:#222;
          font-weight: 400;
          text-align: center;
        }
      }

      .subtitle{
          color:$secondary-color;
          font-weight: 600;
          margin: 80px auto;
          text-align: center;
          text-transform: uppercase;
          letter-spacing: 10px;
          font-size:.7em;
          font-family: 'Montserrat',sans-serif;
      }
    }

    /*** Section Partenaires ****/
    .gallery{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 50px;
      grid-row-gap: 50px;
      text-align: center;
      justify-items: center;
      align-items: center;
      justify-content: center;
    
      img{
        filter:grayscale(1);
        max-width: 100px;
      
        &:hover{
          filter:none;
          transition: all ease-in-out 300ms;
        }
      }
    }

    #references{
      text-align: center;

      .container{
        padding-bottom: 100px;
        border-bottom: 1px solid #eee;
      }

      h2{
        font-weight: 400;
        color:$primary-color;
        font-size: 2em;
      }

      h3{
        font-size: 2em;
        color:$secondary-color;
        font-weight: 600;
      }

      table{
        margin:100px auto;
        border-collapse: collapse;
        
        tr{
          border-top: 1px solid #eee;

          .thumbnail{
            width: 30%;
            min-width: 30%;
            height: 250px;
            border: 1px solid red;
          }
  
          .descr_ref{
            padding: 20px 50px;
  
            .date{
              color:$secondary-color;
              text-align: left;
              display: block;
              font-family: 'Montserrat',sans-serif;
              font-weight: 600;
              letter-spacing: 3px;
              font-size: .8em;
            }
  
            h3{
              color:$primary-color;
              font-size: 1.5em;
              font-weight: 700;
              margin: 10px auto 20px;
              text-align: left;
            }
  
            p{
              font-size: .8em;
              line-height: 1.5em;
              text-align: left;
            }
            
            a{
              margin:5px auto;
              text-align: left;
              font-size: .8em;
              font-style: italic;
              text-decoration: none;
              display: block;
              color:#222;
              font-family: 'Montserrat',sans-serif;
            }
          }
        }        
      }

      .cta{
        margin: auto;
      }
    }

    #contact-us{
      height: 250px;
      padding: 15vh 0;
      text-align: center;

      .container{
        text-align: center;

        h2{
          font-weight: 400;
          color:$primary-color;
          font-size: 2em;
        }
  
        h3{
          font-size: 2em;
          color:$secondary-color;
          font-weight: 600;
        }
  
        p{
          font-size: .8em;
          max-width: 50vw;
          margin: 30px auto;
          line-height: 1.5em;
          color:$primary-color;
          font-weight: 400;
        }

        .cta{
          margin:auto;
          margin-top: 60px;
        }
      }

     
    }

}

/* Megamenu */

